################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Tiny11builderDEV/CopilotIndices/17.14.1091.29919
/.vs
